body {
    background: rgb(14,88,88);
  background: linear-gradient(to bottom right, rgb(11, 212, 95) 0%, rgb(130, 4, 233) 92%);
    height: 100vh;
    width: 50vw;
    color:rgb(94, 75, 214);
    font-size: 3rem;
    font-weight: 400;
    // font-family: sans-serif;
  }